
/** General **/
body {
    background-color: #76323F;
}

.hidden {
    display: none;
}

/** Start button **/
#start-button-div {
    padding: 100px;
}

.btn {
    padding: 15px;
    font-size: 200%;
}

#start-text {
    background-color: rgba(255, 255, 255, 0.637);
    padding: 10px;
}

/** Title div **/
#title {
    background-color: #FC4A1A;
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
}




/** Answer Divs **/
.col-md-8 {
    text-align: center;
    background-color: #FBA100;
    color: #76323F;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 30px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 300%;
    font-weight: bold;
}

h5 {
    margin-bottom: 20px;
    font-size: 200%
}

.option {
    cursor: pointer;
}

img {
    margin-bottom: 20px;
}
